@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

*{
   font-family: "Raleway", "sans-serif";   
}

/* Barre de navigation d'en-tête */ 
#blockmenu{ 
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#blockmenu img{
    margin-right: 1025px;
    padding-left: 15px;
}

#blockmenu nav a{
    margin-left: 7px;
    margin-right: 5px;
}

.click{
    font-weight: bolder;
    color: rgb(7, 93, 221);
}
/* fin de barre de navigation header */

/* Start section de Recherche */
.sectionRechercher{
    border:rgb(60, 73, 92) solid
}

.sectionRechercher h1, 
.sectionRechercher p{
    margin-bottom: 1em;
}
/* i+input+button */
.research{
    display: flex;
}

.research i{
    padding: 1em 1.5em;
    background-color: rgb(228, 234, 240);
    border-radius: 1em 0 0 1em;
}

.research input ::placeholder{
    padding-right: 3.5em;
    font-size: 2em;
}

.research button{
    background-color: rgb(62, 122, 172);
    padding-right: 5.5em;
  color: white;
  border-radius: 0 1em 1em 0;
  padding: 0 2.5em;
}








.ArticleActivites1 a img{
    width: 100%;
}

#activites ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 5em);
    gap: 2.5em;
}

#activites ul .ArticleActivites1 {
    grid-row: 1/6;
}

#activites ul .carte-type2 {
    grid-row: 1/4;
}

#activites ul .carte-type3 {
    grid-row: 4/6;
}

#activites ul .carte-type4 {
    grid-row: 1/3;
}

#activites ul .carte-type5 {
    grid-row: 3/6;
}

#activites ul li a h3{

}



