/* Header */

header{
	width: 100%;
}

h1{
	color:gray;
}

h2{
	color: rgb(49, 49, 49);
	font-weight: bold;
	text-align: center;
}

section{
	border: solid orange 2px;
	width: 30%;
	margin-left: 30px;
}

/* Class réutilisable */

.colorbleu{
	color:rgb(53, 53, 228);
}

.flex{
	display: flex;
}
/* Fin Class réutilisable */

/* Fin Header */

/* Main */

/* Section Mon Expérience */

/* Fin Section Mon Expérience */

/* Fin Main */

/* Footer */

/* Fin Footer */